header {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url('../assets/bg/giancarlo-corti-hWpHAslIJjc-unsplash.jpg') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 100px;
    .header-heading {
        position: fixed;
        background-color: transparent;
        z-index: 2;
        padding: 30px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .header-logo {
            font-size: 60px;
        }
        .header-services {
            width: 40%;
            ul {
                width: 100%;
                list-style: none;
                display: flex;
                justify-content: space-around;
                li a {
                    font-size: 16px;
                    text-transform: uppercase;
                }
            }
        }

    }
    .header-fixed {
        border-radius: 14px;
        position: fixed;
        animation: header__visible .2s ease;
        backdrop-filter: blur(6px);
        background-color: rgba($color: #fff, $alpha: .3);
        a {
            color: #000;
        }
        svg {
            stroke: black;
        }
    }
    .shop {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: lowercase;
    }
}
@keyframes header__visible{
    0% {
        visibility: hidden;
        opacity: 0;

    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}
main {
    width: 100%;
    .main-screen__one {
        padding: 10px 0px 60px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        .screen-one__heading {
            width: 100%;
            display: flex;
            text-align: center;
            justify-content: center;
            h2 {
                letter-spacing: 2px;
                font-size: 30px;
            }
        }
        .screen-one__products-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 15px;
            width: 100%;
            .product {
                display: flex;
                flex-direction: column;
                gap: 10px;
                text-align: center;
                border: 1px solid rgb(227, 227, 227);
                border-radius: 10px;
                padding: 20px 25px;
                transition: .2s ease;
                .product-heading {
                    height: 200px;
                }
            }
            .product:hover {
                box-shadow: 4px 4px 15px rgb(126, 126, 126),
                -4px -4px 15px rgb(192, 190, 190);
            }
        }
    }
    .main-screen__two {
        background: url('../assets/bg/secondbg.avif') no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px;
        h2 {
            font-size: 48px;
            font-weight: 400;
            color: #fff;
        }
        .screen__two-btn {
            border: 2px solid white;
            background-color: transparent;
            font-size: 28px;
            padding: 15px 25px;
        }
        p {
            font-size: 24px;
            color: #fff;
        }
    }
    .main-screen__conclusion {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: 52px;
        }
    }
}